<!DOCTYPE html>

<html lang="en" ng-app="codecraft">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <!-- THe above 3 meta tags *must* come first in the head; any other head content
    must come *after* these tags -->
    <title>Service</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/mystyles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> List of thing</a>
        </div>
    </div>
</nav>

<div class="container main-content">
    <div class="row">
        <div class="col-xs-8" ng-controller="PersonListController">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline well well-sm">
                        <span class="glyphicon glyphicon-search"></span>
                        <div class="form-group">
                            <input type="text" id="searchName" name="searchName" class="form-control"
                                   placeholder="Search name ... " ng-model="search">
                        </div>

                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                        <div class="form-group">
                            <select class="form-control" ng-model="order">
                                <option value="name"> Name (ASC)</option>
                                <option value="-name"> Name (DEC)</option>
                                <option value="email"> Email (ASC)</option>
                                <option value="-email"> Email (DEC)</option>
                            </select>
                        </div>
                    </form>


                    <table class="table table-bordered">
                        <tr>
                            <th> #</th>
                            <th>Name
                                <span class="glyphicon glyphicon-menu-up" ng-click=" order = 'name' "></span>
                                <span class="glyphicon glyphicon-menu-down" ng-click=" order = '-name' "></span>
                            </th>
                            <th>Email
                                <span class="glyphicon glyphicon-menu-up" ng-click=" order = 'email' "></span>
                                <span class="glyphicon glyphicon-menu-down" ng-click=" order = '-email' "></span>
                            </th>
                            <th>Birthdate</th>
                        </tr>

                        <tr ng-repeat="person in filterPersons = (contacts.persons | filter : sensitiveSearch | orderBy:  order)"
                            ng-click="contacts.selectedPerson = person"
                            ng-style="{ 'background' : person.email === contacts.selectedPerson.email ? 'lightgray' : ' ' }">
                            <td> {{ $index }}</td>
                            <td> {{ person.name }}</td>
                            <td> {{ person.email }}</td>
                            <td> {{ person.birthdate | date : "longDate" }}</td>
                        </tr>
                        
                    </table>

                </div>
            </div>
        </div>

        <div class="col-xs-4" ng-controller="PersonDetailController">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title"> Detail</div>
                </div>
                <div class="panel-body">

                    <dl>
                        <dt>Name</dt>
                        <dd> {{ contacts.selectedPerson.name }}</dd>

                        <dt>Email</dt>
                        <dd> {{ contacts.selectedPerson.email }}</dd>

                        <dt>Birthdate</dt>
                        <dd> {{ contacts.selectedPerson.birthdate }}</dd>

                        <dt>PhoneNumber</dt>
                        <dd> {{ contacts.selectedPerson.phonenumber }}</dd>

                        <dt>Address</dt>
                        <dd> {{ contacts.selectedPerson.address }}</dd>

                        <dt>City</dt>
                        <dd> {{ contacts.selectedPerson.city }}</dd>

                        <dt>Country</dt>
                        <dd> {{ contacts.selectedPerson.country }}</dd>

                    </dl>

                </div>
            </div>
            <pre>{{ search }}</pre>
        </div>
    </div>
</div>

<div style="display: none; position: fixed; top: 0px; left: 0px; z-index: 60000;">
    <img style="display: block; position: absolute;">
    <div style="display: block; position: absolute; background-color: rgba(0, 0, 0, 0.34902);"></div>
    <canvas width="120" height="60" style="position: absolute; cursor: crosshair; padding: 0px; margin: 0px;"></canvas>
    <canvas style="position: fixed; top: 20px; right: 20px;"></canvas>
</div>

<script src="js/angular.min.js"></script>
<!--<script src="js/angular-ui-router.min.js"></script>-->
<script src="js/angular-resource.min.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>